//阅读全文
$btn-default-radius           = 15px
$btn-default-bg               = white
$btn-default-color            = black
$btn-default-border-color     = black
$btn-default-hover-color      = black
$btn-default-hover-bg         = pink
